@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #1a1a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta);
  --color-brand: #059669;
  --color-brand-dark: #022c22;
  --color-user: #7f77dd;
  --color-vet: #1d9e75;
  --color-mod: #ba7517;
  --color-danger: #d85a30;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.mobile-safe-bottom {
  padding-bottom: calc(7rem + env(safe-area-inset-bottom));
}
